/** see support: https://caniuse.com */
@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/Outfit/Outfit-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Outfit Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../../fonts/Outfit/Outfit-Medium.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Outfit SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("../../fonts/Outfit/Outfit-SemiBold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Outfit Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/Outfit/Outfit-Bold.woff2") format("woff2");
}